<!DOCTYPE html>
<html lang="en">
 <head>
  <title> NoviaXchangeinvest | Profile Page </title>

  <meta charset="utf-8" />
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link
   rel="icon"
   type="image/png"
   href="./assets/img/logo-black.png"
   sizes="16x16"
  />
  <link
   rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
   rel="stylesheet"
  />
  <!-- custom css -->
  <link rel="stylesheet" href="./assets/css/style.css" />



 </head>

 <body>
  <nav class="navbar bg-body-tertiary bg-dark sticky-top">
   <div class="container-fluid pl-0 pr-0">
    <div>
     <button type="button" id="sidebarCollapse" class="btn text-white pl-0">
      <i class="fa fa-bars text-warning"></i>
      <span class="sr-only">Toggle Menu</span>
     </button>
     <a class="navbar-brand" href="./user.html">
      <img
              src="{{url_for('static', filename='assets/img/new_logo.png')}}"
              alt="Logo"
              class="d-inline-block align-text-top img-fluid"
              width="150rem" height="50rem"
              style=""
            />
     </a>
    </div>
    <div class="text-white">
     <span class="mr-2 mr-md-3 text-warning"
      ><i class="fa fa-bell" aria-hidden="true"></i
     ></span>
     <span class="mr-2 mr-md-3 text-warning"
      ><i class="fa fa-envelope" aria-hidden="true"></i
     ></span>
     <span id="logout">Logout</span>
    </div>
    <marquee class="text-warning font-italic" behavior="scroll" direction="left"
     >78% worth of Bitcoin mined on this account</marquee
    >
   </div>
  </nav>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container bg-dark py-0 my-0" style="display: flex; min-height: 5vh; width: 50%;">

  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    },
    {
      "description": "Solana",
      "proName": "COINBASE:SOLUSD"
    },
    {
      "description": "Xrp",
      "proName": "BITSTAMP:XRPUSD"
    },
    {
      "description": "Chain Link",
      "proName": "COINBASE:LINKUSD"
    },
    {
      "description": "Ada",
      "proName": "BINANCE:ADAUSD"
    },
    {
      "description": "Matic",
      "proName": "COINBASE:MATICUSD"
    },
    {
      "description": "Avax",
      "proName": "BINANCE:AVAXUSD"
    },
    {
      "description": "Litecoin",
      "proName": "COINBASE:LTCUSD"
    },
    {
      "description": "Dogecoin",
      "proName": "BINANCE:DOGEUSD"
    },
    {
      "description": "Shiba",
      "proName": "COINBASE:SHIBUSD"
    },
    {
      "description": "Bnb",
      "proName": "BINANCE:BNBUSD"
    },
    {
      "description": "Cosmos",
      "proName": "COINBASE:ATOMUSD"
    },
    {
      "description": "Rune",
      "proName": "BINANCE:RUNEUSD"
    },
    {
      "description": "Xlm",
      "proName": "BITFINEX:XLMUSD"
    },
    {
      "description": "Fetch",
      "proName": "COINBASE:FETUSD"
    },
    {
      "description": "Cake",
      "proName": "BINANCE:CAKEUSD"
    },
    {
      "description": "Floki",
      "proName": "BITFINEX:FLOKIUSD"
    },
    {
      "description": "Arbitrum",
      "proName": "COINBASE:ARBUSD"
    },
    {
      "description": "Aave",
      "proName": "BINANCE:AAVEUSD"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

  <div class="wrapper d-flex align-items-stretch">
   <nav id="sidebar">
    <div class="custom-menu"></div>
    <div class="p-4">
     <ul class="list-unstyled components">
      <li class="pt-3">
       <a href="./user.html"
        ><i class="fa fa-home mr-3 text-warning"></i> User Dashboard</a
       >
      </li>
      <li class="pt-4">
       <a href="./add-funds.html"
        ><i class="fa fa-btc mr-3 text-warning"></i> Deposit</a
       >
      </li>
      <li class="pt-4">
       <a href="./withdrawal.html"
        ><i class="fa fa-money mr-3 text-warning"></i> Withdrawal</a
       >
      </li>
       <li class="pt-4 active">
       <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        ><i class="fa fa-gears mr-3 text-warning"></i> Settings <i class="fa fa-caret-down"></i> </a
       >
       <div class="dropdown-menu text-light bg-dark border border-warning">
        <a class="dropdown-item bg-dark px-3" href="./profile-page.html"
         >Update Profile</a
        >
        <!-- <a class="dropdown-item bg-dark px-3" href="./change-password.html"
         >Change Password</a
        > -->
        <a class="dropdown-item bg-dark px-3" href="./update-mobile.html"
         >Update Credentials</a
        >
       </div>
      </li>

     </ul>
    </div>
   </nav>

   <!-- main Content  -->
   <div id="content" class="mt-0 pt-0 pt-md-1" style="height: 120vh">
    <div class="container pt-3 pl-md-0">
     <!-- withdrawal form -->
     <div class="row">
      <div class="col-9 col-md-7 mx-auto">
       <h3 class="pt-2 pt-md-3 pb-0 mb-0"><strong>Profile Page</strong></h3>
         <h6 class="pt-0 pb-3 mt-0 text-dark" style="font-size: 13px;">Dashboard &nbsp; / <strong> &nbsp; Profile</strong></h6>
       <p class="text-right ml-auto round py-2 bg-warning text-white pr-3 font-italic">Fill In Your Details</p>
       <form id="updateCred">
        <div class="form-group row py-1 py-md-3">
         <label for="userName" class="col-sm-2 col-md-3 col-form-label"
          >Password</label
         >
         <div class="col-sm-10 col-md-9">
          <input
           type="password"
           class="form-control"
           id="updatePasswd"
           name="password"
           placeholder="Enter Password"
          />
          </div>
        </div>
        <div class="form-group row pb-1 pb-md-3">
          <label for="userEmail" class="col-sm-2 col-md-3 col-form-label"
          >Email Address</label
          >
          <div class="col-sm-10 col-md-9">
            <input
            type="email"
            class="form-control"
            id="userEmail"
            name="email"
            placeholder="Enter Email Address"
            />
            <button
           type="submit"
           id="btnCred"
           style="margin-top: 25px;"
           class="btn btn-md-lg btn-warning btn-outline-dark w-100"
          >
           Update Profile
          </button>
          </div>

        </div>

      </form>
        </div>
      </div>
     </div>

     <!-- withdrawal form ends -->
    </div>
   </div>
  </div>

  <!-- footer -->
  <footer
   class="container-fluid bg-dark text-white text-center pt-2 fixed-bottom"
  >
   <div class="row align-items-center">
    <div class="col-md-1 text-md-right">
     <!-- Google Translate container -->
     <div id="google_translate_element"></div>
     <!-- end Google Translate container -->
    </div>
    <div class="col-sm-12 col-md-11 text-center">
     <h6>
      Copyright &copy;
      <script>
       document.write(new Date().getFullYear());
      </script>
      |
      <a href="www.NoviaXchangeinvest.com" target="_blank" class="text-white"
       >NoviaXchangeinvest</a
      >
      | All Rights Reserved.
     </h6>
    </div>
   </div>
  </footer>

  <!-- Toastr Notifications - EXTERNAL JS -->
  <script
   type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
  ></script>

  <!-- NOTIFICATIONS CONTAINER - JS -->

  <script type="text/javascript">
   toastr.options = {
    closeButton: true,
    debug: true,
    newestOnTop: true,
    progressBar: true,
    positionClass: 'toast-bottom-left',
    preventDuplicates: true,
    showDuration: '3000',
    hideDuration: '500',
    timeOut: '3500',
    extendedTimeOut: '1500',
    showEasing: 'swing',
    hideEasing: 'linear',
    showMethod: 'fadeIn',
    hideMethod: 'fadeOut',
   };

   setInterval(() => {
    $.ajax({
     url: 'https://randomuser.me/api/',
     dataType: 'json',
     success: function (data) {
      action = ['deposited ', 'deposited ', 'withdrew ', ' invested '];
      amt = [
              "$55,000",
              "$75,000",
              "$80,000",
              "$15,000",
              "$50,000",
              "$15,000",
              "$20,070",
              "$30,030",
              "$50,500",
              "$90,000",
              "$6,500",
              "45,000",
            ];
      toastr.success(
       data.results[0].name.first +
        ' ' +
        data.results[0].name.last +
        ' ' +
        action[Math.floor(Math.random() * 3)] +
        ' ' +
        amt[Math.floor(Math.random() * 10)]
      );
      console.log(data.results[0].name.first);
     },
    });
   }, 2000);
  </script>

  <script type="text/javascript">
   const usernamex = [
    'Sam Courtright ',
    'Evia Boster',
    'Leopoldo Alexis ',
    'Laure Mccrory',
    'Jana Radel ',
    'Brunilda Macon ',
    'Bula Pries ',
    'Cassidy Rudnick',
    'Hiram Kilburn  ',
    'Latrisha Greenly',
    'Loyd Sadowski ',
    'Audrey Lindstedt ',
    'Gisela Chewning',
    'Katie Rosenstein',
    'Lorinda Lex  ',
    'Carie Schreiber',
    'Ethel Vanatta ',
    'Carli Spraggs ',
    'Vivien Basil  ',
    'Moshe Bogardus ',
   ];
  </script>

  <!-- End of NOTIFICATIONS CONTAINER - JS -->

  <script type="text/javascript">
   function googleTranslateElementInit() {
    new google.translate.TranslateElement(
     { pageLanguage: 'en' },
     'google_translate_element'
    );
   }
  </script>

  <script
   type="text/javascript"
   src="https://translate.google.com/translate_a/element.js?
			cb=googleTranslateElementInit"
  ></script>
  <!-- Toastr Notifications - EXTERNAL JS -->
  <script
   type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
  ></script>

  <script src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/popper.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/main.js"></script>
  <script>
    const updateCred = document.getElementById('updateCred');
    const UpdatePro = document.getElementById('UpdatePro');
    const btnCred = document.getElementById('btnCred');
    const btnPro = document.getElementById('btnPro');
    const updateCredForm = document.getElementById('updateCred');
    const updateProForm = document.getElementById('UpdatePro');

    // updateCredForm.addEventListener('submit', function(event) {
    //     event.preventDefault();
    //     UpdateCred();
    // });

    // updateProForm.addEventListener('submit', function(event) {
    //     event.preventDefault();
    //     UpdatePro();
    // });
    function UpdateCred() {
        event.preventDefault();

        // Get the token from localStorage
        const UserData = JSON.parse(localStorage.getItem('userData'));
        const token = UserData.token
        const password = document.getElementsByName('password')[0].value;
        const email = document.getElementsByName('email')[0].value;

        const url = 'https://NoviaXchangeinvest.com/public/api/update-credentials';
        const data = {
            email,
            password,
        };

        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token, // Include the token in the Authorization header
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data) {
                console.log(data.message);
                alert(data.message)
            } else {
                alert('Try again, error');
            }
        })
        .catch(err => {
            console.log(err);
        });
    }

    btnCred.addEventListener('click', UpdateCred);


</script>

<script>
  const logout = document.getElementById('logout')
  const userData = JSON.parse(localStorage.getItem('userData'));
  logout.addEventListener('click', ()=>{
  const token = userData.token
  const url = 'https://NoviaXchangeinvest.com/public/api/logout'
  console.log(token)


  const xhr = new XMLHttpRequest();

          // Configure it: POST-request, endpoint URL
          xhr.open('POST', url, true);
          const postData = {
              // key: 'value',
          };
          // Set the request headers
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('Authorization', 'Bearer ' + token);

          xhr.onreadystatechange = function () {
              if (xhr.readyState === 4) {
                  if (xhr.status === 200) {
                      // Request was successful
                      console.log(xhr.responseText);
                      // Check if the key exists in localStorage
                      if (localStorage.getItem("userData")) {
                        // Delete the item with the specified key
                        localStorage.removeItem('userData');
                        alert('Logged out successfullly!');
                        // const newPath = "index.html"; // Change to the path of your success page
                        // window.history.pushState({}, "", newPath);

                        window.location.href = '../index.html'
                      } else {
                        alert('Error in performing Action.');
          }
                  } else {
                      // There was an error
                      console.error('Error making POST request. Status:', xhr.status);
                      alert('Error in performing Action.');
                  }
              }
          }

          // xhr.send()
          xhr.send(JSON.stringify(postData));
        })
</script>

 </body>
</html>
