<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Novia Xchange Invest DevOps" />

    <meta
      name="keywords"
      content="bitcoin, bitcoin investment, crypto investment, blockchain, cryptocurrency, crypto trading, altcoin, invest bitcoin, invest crypto, crypto investment platform, bitcoin investment, platform, bitcoin price, bitcoin news, bitcoin price chart, cryptocurrency trading"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Password Recovery | noviaxchangeinvest.com</title>

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="../../../../../css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />

<!--    <link rel="stylesheet" href="css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select.min.css')}}" />
<!--    <link rel="stylesheet" href="css/bootstrap-select.min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css')}}" />
<!--    <link rel="stylesheet" href="css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css')}}" />
<!--    <link rel="stylesheet" href="css/owl.carousel.min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.min.css')}}" />
<!--    <link rel="stylesheet" href="css/owl.theme.default.min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.fancybox.css')}}" />
<!--    <link rel="stylesheet" href="css/jquery.fancybox.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='toastr.min.css')}}" />
<!--    <link rel="stylesheet" href="css/toastr.min.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
<!--    <link rel="stylesheet" href="css/style.css" />-->
    <!-- Toastr Notifications - EXTERNAL CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
    />
  </head>

  <body style="color: #000">
    <!-- start per-loader -->
    <div class="loader-container">
      <div class="loader-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- end per-loader -->

    <!-- ================================
            START HEADER AREA
================================= -->
    <header class="header-area">
      <div class="main-menu-header py-3">
        <div class="container">
          <div class="main-menu-wrapper bg-transparent rounded-0 p-0">
            <div class="row align-items-center">
              <div class="col-lg-2">
                <a href="{{ url_for('users.index')}}" class="main-logo">
                    <img
              src="{{url_for('static', filename='assets/img/new_logo.png')}}"
              alt="Logo"
              class="sticky-logo-hide"
              width="150rem" height="30rem"
              style=""
            />

            <img
            src="{{url_for('static', filename='assets/img/new_logo2.png')}}"
            alt="logo"
            class="sticky-logo-show"
            width="150rem" height="30rem"
          />
<!--                  <img-->
<!--                    class="sticky-logo-hide"-->
<!--                    src="images/logo-white.png"-->
<!--                    alt="logo"-->
<!--                  />-->
                  <!-- <img
                    class="sticky-logo-show"
                    src="images/logo-black.png"
                    alt="logo"
                  /> -->
                </a>
              </div>
              <!-- end col-lg-2 -->
              <div class="col-lg-10">
                <div
                  class="main-navbar d-flex align-items-center justify-content-between"
                >
                  <nav
                    class="main-nav main-nav-white text-capitalize main-nav-2"
                  >
                    <ul>
                      <li>
                        <a href="#"
                          >home <i class="fal fa-angle-down font-size-12"></i
                        ></a>
                        <ul class="drop-menu">
                          <li><a href="../index.html"> Home </a></li>
                          <li>
                            <a href="../bitcoin-chart.html"> Bitcoin Chart </a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-mega-menu">
                        <a href="#">
                          Menu <i class="fal fa-angle-down font-size-12"></i
                        ></a>
                        <div class="drop-menu mega-menu">
                          <ul class="row no-gutters">
                            <li class="mega-menu-item col-lg-4">
                              <ul>
                                <li><a href="../about.html">about us</a></li>
                                <li><a href="../service.html">service</a></li>
                                <li>
                                  <a href="../investment-plan.html">
                                    Bitcoin Investment Plan
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li class="mega-menu-item col-lg-4">
                              <ul>
                                <li>
                                  <a href="../terms-of-services.html">
                                    Terms of Services</a
                                  >
                                </li>
                                <li><a href="../faq.html">FAQ</a></li>
                                <li><a href="../contact.html">contact</a></li>
                              </ul>
                            </li>
                            <li class="mega-menu-item col-lg-4">
                              <ul>
                                <li><a href="../sign-up.html"> Sign up</a></li>
                                <li><a href="../login.html"> Login</a></li>
                                <li>
                                  <a href="../reset-password.html">
                                    Reset password</a
                                  >
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#"
                          >team <i class="fal fa-angle-down font-size-12"></i
                        ></a>
                        <ul class="drop-menu">
                          <li><a href="../team.html"> team </a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#"
                          >blog <i class="fal fa-angle-down font-size-12"></i
                        ></a>
                        <ul class="drop-menu">
                          <li><a href="../blog.html"> blog </a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                  <div class="navbar-toolbar d-flex align-items-center">
                    <ul class="list-items list-items-white">
                      <li class="d-inline-block mr-2">
                        <a href="../login.html"> Login </a>
                      </li>
                      <li
                        class="d-inline-block card hover-y"
                        style="
                          background: orange !important;
                          border-radius: 50px;
                        "
                      >
                        <a href="../public-html/sign-up.html" class="btn btn-sm text-white">
                          Sign Up
                        </a>
                      </li>
                    </ul>
                    <div class="hamburger hamburger-white">
                      <span class="line"></span>
                      <span class="line"></span>
                      <span class="line"></span>
                    </div>
                  </div>
                  <!-- end navbar-toolbar -->
                </div>
                <!-- end main-navbar -->
              </div>
              <!-- end col-lg-10 -->
            </div>
            <!-- end row -->
          </div>
          <!-- end main-menu-wrapper -->
        </div>
        <!-- end container -->
      </div>
      <!-- end main-menu-header -->
    </header>
    <!-- ================================
         END HEADER AREA
================================= -->

    <!-- ================================
    START BREADCRUMB AREA
================================= -->
    <section class="breadcrumb-area bread-bg">
      <div class="overlay"></div>
      <!-- end overlay -->
      <div class="container">
        <div
          class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between position-relative"
        >
          <h2 class="sec-title text-white my-2">Reset Password</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Reset Password
              </li>
            </ol>
          </nav>
        </div>
        <!-- end breadcrumb-content -->
      </div>
      <!-- end container -->
    </section>
    <!-- end hero-area -->
    <!-- ================================
    END BREADCRUMB AREA
================================= -->

    <!-- ================================
       START CONTACT AREA
================================= -->
    <section class="contact-area section--padding">
      <div class="container">
        <div class="col-lg-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <h3 class="font-weight-bold mb-1">Reset Password!</h3>
              <p class="font-size-15">
                Enter your registered email address to reset password, You
                automatically receive a link in your registered email address
                instructing "How to reset your password". If you have any issue
                with respect to passsword reset.
                <br />
                For
                <a href="../contact.html" class="text-color btn-link">
                  password reset help
                </a>
              </p>
              <hr class="border-top-gray my-4" />
              <form action="#">
                <div class="form-group">
                  <input
                    class="form-control form--control"
                    type="email"
                    name="email"
                    placeholder="Email address"
                  />
                </div>
                <!-- end form-group -->
                <div class="form-group">
                  <div class="position-relative">
                    <input
                      class="form-control form--control password-field"
                      type="password"
                      name="password"
                      placeholder="Password"
                    />
                    <a
                      href="javascript:void(0)"
                      class="position-absolute top-0 right-0 h-100 btn toggle-password"
                      title="Toggle show/hide password"
                    >
                      <i class="far fa-eye eye-on"></i>
                      <i class="far fa-eye-slash eye-off"></i>
                    </a>
                  </div>
                </div>
                <!-- end form-group -->
                <button class="btn btn-primary w-100" type="submit">
                  Reset Password
                </button>
              </form>
              <div
                class="d-flex flex-wrap align-items-center justify-content-between mt-3"
              >
                <a href="../login.html" class="text-color btn-link">Login</a>
                <p class="font-size-14 pt-2 text-center font-weight-normal">
                  Don't have an account?
                  <a href="../sign-up.html" class="text-color btn-link">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end col-lg-6 -->
      </div>
      <!-- end container -->
    </section>
    <!-- end contact-area -->
    <!-- ================================
       START CONTACT AREA
================================= -->

    <!-- ================================
         END FOOTER AREA
================================= -->
    <section class="footer-area padding-top-80px pb-4 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-item mb-5">
              <a href="../index.html" class="d-block">
                <img src="images/logo-black.png" alt="logo" />
              </a>
              <ul class="list-items pt-4">
                <li class="mb-3">
                  <a href=""
                    ><i class="fal fa-envelope mr-1 font-size-14"></i>
                    hello@noviaxchangeinvest.com
                  </a>
                </li>

                <li class="mb-3">
                  <i class="fal fa-map-marker-alt mr-1 font-size-14"></i>
                  President Building, <br />
                  37b Av. John F. Kennedy, <br />
                  1855 Kirchberg, <br />
                  Luxembourg
                </li>
                <li class="mb-3">
                  <i class="fal fa-clock mr-1 font-size-14"></i> Mon-Sun
                </li>
              </ul>
              <div class="social-icons">
                <a href="#" class="icon-element icon-element-sm mr-1"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="#" class="icon-element icon-element-sm mr-1"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href="#" class="icon-element icon-element-sm mr-1"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a href="#" class="icon-element icon-element-sm mr-1"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <!-- end footer-item -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
            <div class="footer-item mb-5">
              <h5 class="mb-3 font-weight-semi-bold">Company</h5>
              <div class="title-shape border-bottom-0"><span></span></div>
              <ul class="list-items list-items-hover pt-4">
                <li class="mb-2"><a href="../about.html"> About </a></li>
                <li class="mb-2"><a href="../team-member.html"> Team</a></li>
                <li class="mb-2">
                  <a href="../investment-plan.html"> Investment Plan </a>
                </li>
                <li class="mb-2"><a href="../service.html"> Service </a></li>
                <li class="mb-2"><a href="../contact.html"> Contact </a></li>
                <li class="mb-2"><a href="../html/blog.html"> Blog </a></li>
              </ul>
            </div>
            <!-- end footer-item -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
            <div class="footer-item mb-5">
              <h5 class="mb-3 font-weight-semi-bold">Help & Support</h5>
              <div class="title-shape border-bottom-0"><span></span></div>
              <ul class="list-items list-items-hover pt-4">
                <li class="mb-2"><a href="#">Guide</a></li>
                <li class="mb-2"><a href="faq.html">Faq</a></li>
                <li class="mb-2"><a href="#">Advertise</a></li>
                <li class="mb-2"><a href="#">Help Center</a></li>
                <li class="mb-2"><a href="#">Privacy Policy</a></li>
                <li class="mb-2">
                  <a href="../terms-of-services.html"> Terms of Services </a>
                </li>
              </ul>
            </div>
            <!-- end footer-item -->
          </div>
          <!-- end col-lg-3 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
      <hr class="border-top-gray my-4" />

      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-between"
        >
          <p class="copy-desc" style="color: #000 !important">
            Copyright &copy; 2024 Novia Xchange Invest. All Rights Reserved.
            <a href="../terms-of-services.html"> Terms of Services </a> |
            <a href="../faq.html"> FAQ </a>
          </p>

          <!-- Google Translate container -->
          <div id="google_translate_element"></div>
          <!-- end Google Translate container -->

          <div>
            <a href="https://www.cssf.lu/en/">
              <img
                src="images/cssf.png"
                alt=""
                class="img-fluid mr-3 flex-shrink-0"
                style="width: 100px"
              />
            </a>
          </div>
        </div>
        <!-- end copyright-content -->
      </div>
      <!-- end container -->
    </section>
    <!-- end footer-area -->
    <!-- ================================
          END FOOTER AREA
================================= -->

    <!-- start scroll-to-top -->
    <div id="scroll-to-top">
      <i class="far fa-angle-up" title="Go top"></i>
    </div>
    <!-- end scroll-to-top -->

    <!-- Template JS Files -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Toastr Notifications - INTERNAL JS -->
    <script src="js/toastr.min.js"></script>
    <!-- Toastr Notifications - EXTERNAL JS -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    ></script>

    <!-- NOTIFICATIONS CONTAINER - JS -->

    <script type="text/javascript">
      toastr.options = {
        closeButton: true,
        debug: true,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-bottom-left",
        preventDuplicates: true,
        showDuration: "3000",
        hideDuration: "500",
        timeOut: "3500",
        extendedTimeOut: "1500",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      setInterval(() => {
        $.ajax({
          url: "https://randomuser.me/api/",
          dataType: "json",
          success: function (data) {
            action = ["deposited ", "deposited ", "withdrew ", " invested "];
            amt = [
              "$5500",
              "$7500",
              "$8,000",
              "$1,500",
              "$5,000",
              "$1,500",
              "$2,070",
              "$3,030",
              "$5,500",
              "$9000",
              "$650",
              "4,500",
            ];
            toastr.success(
              data.results[0].name.first +
                " " +
                data.results[0].name.last +
                " " +
                action[Math.floor(Math.random() * 3)] +
                " " +
                amt[Math.floor(Math.random() * 10)]
            );
            console.log(data.results[0].name.first);
          },
        });
      }, 2000);
    </script>

    <script type="text/javascript">
      const usernamex = [
        "Sam Courtright ",
        "Evia Boster",
        "Leopoldo Alexis ",
        "Laure Mccrory",
        "Jana Radel ",
        "Brunilda Macon ",
        "Bula Pries ",
        "Cassidy Rudnick",
        "Hiram Kilburn  ",
        "Latrisha Greenly",
        "Loyd Sadowski ",
        "Audrey Lindstedt ",
        "Gisela Chewning",
        "Katie Rosenstein",
        "Lorinda Lex  ",
        "Carie Schreiber",
        "Ethel Vanatta ",
        "Carli Spraggs ",
        "Vivien Basil  ",
        "Moshe Bogardus ",
      ];
    </script>

    <!-- End of NOTIFICATIONS CONTAINER - JS -->



    <!-- Google Translate JS -->
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="https://translate.google.com/translate_a/element.js?
			cb=googleTranslateElementInit"
    ></script>
    <!-- End of Google Translate JS -->
  </body>
</html>
