<DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="author" content="Novia Xchange Invest DevOps" />

       <!-- Google tag (gtag.js) for Novia Xchange Invest -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BHN1RYRFTV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-BHN1RYRFTV');
        </script>

      <meta
        name="keywords"
        content="bitcoin, bitcoin investment, crypto investment, blockchain, cryptocurrency, crypto trading, altcoin, invest bitcoin, invest crypto, crypto investment platform, bitcoin investment, platform, bitcoin price, bitcoin news, bitcoin price chart, cryptocurrency trading"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Team | noviaxchangeinvest.com</title>

      <!-- Favicon -->
      <link rel="icon" href="{{ url_for('static', filename='imagess/favicon.png')}}">

      <!-- Google font -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
      <link href="../../../../../css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

      <!-- Template CSS Files -->
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='jquery.fancybox.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='toastr.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!-- Toastr Notifications - EXTERNAL CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" /> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Toastr Notifications - EXTERNAL CSS -->
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
      />
    </head>

    <style></style>

    <body style="color: #000">
      <!-- start per-loader -->
      <!-- <div class="loader-container">
        <div class="loader-ripple">
          <div></div>
          <div></div>
        </div>
      </div> -->
      <!-- end per-loader -->

      <!-- ================================
            START HEADER AREA
================================= -->
<header class="header-area">
  <div class="main-menu-header py-3">
      <div class="container">
          <div class="main-menu-wrapper bg-transparent rounded-0 p-0">
              <div class="row align-items-center">
                  <div class="col-lg-2">
                      <a href="{{ url_for('users.index')}}" class="main-logo">
                          <img
                              src="{{url_for('static', filename='assets/img/new_logo.png')}}"
                              alt="Logo"
                              class="sticky-logo-hide"
                              width="150rem" height="30rem"
                              style=""
                            />

                            <img
                            src="{{url_for('static', filename='assets/img/new_logo2.png')}}"
                            alt="logo"
                            class="sticky-logo-show"
                            width="150rem" height="30rem"
                          />
<!--                          <img class="sticky-logo-hide" src="{{ url_for('static', filename='imagess/logo-white.png')}}" alt="logo">-->
                          <!-- <img class="sticky-logo-show" src="{{ url_for('static', filename='imagess/logo-black.png')}}" alt="logo"> -->
                      </a>
                  </div><!-- end col-lg-2 -->
                  <div class="col-lg-10">
                      <div class="main-navbar d-flex align-items-center justify-content-between">
                          <nav class="main-nav main-nav-white text-capitalize main-nav-2">
                              <ul>
                                  <li>
                                      <a href="#">home <i class="fa fa-angle-down font-size-12" ></i></a>
                                      <ul class="drop-menu">
                                          <li><a href="{{ url_for('users.index')}}"> Home </a></li>
                    <li><a href="{{ url_for('users.bitcoin_chart')}}"> Bitcoin Chart </a></li>
                                      </ul>
                                  </li>
                                  <li class="has-mega-menu">
                                      <a href="#"> Menu <i class="fa fa-angle-down font-size-12"></i></a>
                                      <div class="drop-menu mega-menu">
                                          <ul class="row no-gutters">
                                              <li class="mega-menu-item col-lg-4">
                                                  <ul>
                                                      <li><a href="{{ url_for('users.about')}}">about us</a></li>
                                                      <li><a href="{{ url_for('users.service')}}">services</a></li>
                          <li><a href="{{ url_for('users.investment_plan')}}"> Investment Plan </a></li>
                                                  </ul>
                                              </li>
                                              <li class="mega-menu-item col-lg-4">
                                                  <ul>
                                                      <li><a href="{{ url_for('users.terms_of_service')}}"> Terms of Services</a></li>
                          <li><a href="{{ url_for('users.faq')}}">FAQ</a></li>
                                                      <li><a href="{{ url_for('users.contact')}}">contact</a></li>
                                                  </ul>
                                              </li>
                                              <li class="mega-menu-item col-lg-4">
                                                  <ul>
                                                      <li><a href="{{ url_for('auth.sign_up')}}"> Sign up</a></li>
                                                      <li><a href="{{ url_for('auth.login')}}"> Login</a></li>
                                                     <li><a href="{{ url_for('auth.reset_password')}}"> Reset password</a></li>
                                                  </ul>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="#">team <i class="fa fa-angle-down font-size-12"></i></a>
                                      <ul class="drop-menu">
                                          <li><a href="{{ url_for('users.team')}}"> team </a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="#">blog <i class="fa fa-angle-down font-size-12"></i></a>
                                      <ul class="drop-menu">
                                          <li><a href="{{ url_for('users.blog')}}"> blog </a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </nav>
                          <div class="navbar-toolbar d-flex align-items-center">
                              <ul class="list-items list-items-white">
                                  <li class="d-inline-block mr-2"><a href="{{ url_for('auth.login')}}"> Login </a></li>
                                  <li class="d-inline-block card hover-y" style="background: orange !important; border-radius: 50px;"><a href="{{ url_for('auth.sign_up')}}" class="btn btn-sm text-white">
                Sign Up </a></li>
                              </ul>
                              <div class="hamburger hamburger-white">
                                  <span class="line"></span>
                                  <span class="line"></span>
                                  <span class="line"></span>
                              </div>
                          </div><!-- end navbar-toolbar -->
                      </div><!-- end main-navbar -->
                  </div><!-- end col-lg-10 -->
              </div><!-- end row -->
          </div><!-- end main-menu-wrapper -->
      </div> <!-- end container -->
  </div><!-- end main-menu-header -->
</header>
      <!-- ================================
         END HEADER AREA
================================= -->

      <!-- ================================
    START BREADCRUMB AREA
================================= -->
      <section class="breadcrumb-area bread-bg">
        <div class="overlay"></div>
        <!-- end overlay -->
        <div class="container">
          <div
            class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between position-relative"
          >
            <h2 class="sec-title text-white my-2">Team</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="#">Home</a></li></li><i class="fa-solid fa-angle-right text-white mt-2 mx-2" style="font-size: .3rem !important;"></i>
                <li class="breadcrumb-item active" aria-current="page">Team</li>
              </ol>
            </nav>
          </div>
          <!-- end breadcrumb-content -->
        </div>
        <!-- end container -->
      </section>
      <!-- end hero-area -->
      <!-- ================================
    END BREADCRUMB AREA
================================= -->

      <!-- ================================
       START TEAM AREA
================================= -->
      <section class="team-area section--padding">
        <div class="container">
          <h2
            class="sec-title text-center"
            style="color: orange; font-weight-semi-bold"
          >
            Meet Our Team
          </h2>
          <div class="row mt-5">
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team1.jpg') }}"
                  data-src="{{ url_for('static', filename='imagess/team1.jpg') }}"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Nixon Hoffmann </a>
                  </h4>
                  <p class="font-size-15">CEO & Founder</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team2.jpg') }}"
                  data-src="{{ url_for('static', filename='imagess/team2.jpg') }}"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Cooper Baldwin </a>
                  </h4>
                  <p class="font-size-15">Chief Technology Officer</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team3.jpg') }}"
                  data-src="{{ url_for('static', filename='imagess/team3.jpg') }}"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Gonzalez Newton </a>
                  </h4>
                  <p class="font-size-15">Crypto Security Architect</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team4.jpg') }}"
                  data-src="images/team4.jpg"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Elliot Dickens </a>
                  </h4>
                  <p class="font-size-15">Senior Software Engineer</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team5.jpg') }}"
                  data-src="images/team5.jpg"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Charlotte Berkshire </a>
                  </h4>
                  <p class="font-size-15">Corporate Accountant</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team66.jpg') }}"
                  data-src="images/team66.jpg"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Lou Arya </a>
                  </h4>
                  <p class="font-size-15">Cryptocurrency Analyst</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team7.jpg') }}"
                  data-src="images/team7.jpg"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Osborne Ross </a>
                  </h4>
                  <p class="font-size-15">Chief Compliance Officer</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-6">
              <div class="card team-card text-center hover-y">
                <img
                  src="{{ url_for('static', filename='imagess/team8.jpg') }}"
                  data-src="images/team8.jpg"
                  alt="team image"
                  class="card-img-top lazy"
                />
                <div class="card-body">
                  <h4 class="card-title mb-1">
                    <a href="#"> Watson Miller </a>
                  </h4>
                  <p class="font-size-15">Technical Writer</p>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col-lg-3 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </section>
      <!-- end team-area -->
      <!-- ================================
    START TEAM AREA
================================= -->

      <hr class="border-top-gray my-0" />

      <!-- ================================
       START CTA AREA
================================= -->
      <section class="cta-area section-padding">
        <div class="container">
          <div class="cta-content text-center">
            <h2
              class="sec-title mb-2"
              style="font-style: italic; color: orange"
            >
              Let's have a Convo..
            </h2>
            <p class="mb-4">
              Do you want to know more about our Investment Plan, <br />
              and how you can start benefiting immediately.
            </p>
            <a href="{{ url_for('users.contact')}}" class="btn btn-primary">
              Contact Us Today
            </a>
          </div>
          <!-- end cta-content -->
        </div>
        <!-- end container -->
      </section>
      <!-- end cta-area -->
      <!-- ================================
       START CTA AREA
================================= -->

      <!-- ================================
         END FOOTER AREA
================================= -->
<section class="footer-area padding-top-80px pb-4">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="footer-item mb-5">
                  <a href="{{ url_for('users.index')}}" class="d-block">
                      <img src="{{ url_for('static', filename='imagess/logo-black.png')}}" alt="logo">
                  </a>
                  <ul class="list-items pt-4">
                      <li class="mb-3"><a href=""><i class="fa fa-envelope mr-1 font-size-14"></i>
             hello@noviaxchangeinvest.com </a></li>
                      <li class="mb-3"><i class="fa fa-map-marker-alt mr-1 font-size-14"></i>
              President Building, <br/> 37b Av. John F. Kennedy, <br/> 1855 Kirchberg, <br/> Luxembourg </li>
                      <li class="mb-3"><i class="fa fa-clock mr-1 font-size-14"></i> Mon-Sun </li>
                  </ul>
                  <div class="social-icons">
                      <a href="#" class="icon-element icon-element-sm mr-1"><i class="fab fa-facebook-f"></i></a>
                      <a href="#" class="icon-element icon-element-sm mr-1"><i class="fab fa-twitter"></i></a>
                      <a href="#" class="icon-element icon-element-sm mr-1"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#" class="icon-element icon-element-sm mr-1"><i class="fab fa-instagram"></i></a>
                  </div>
              </div><!-- end footer-item -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
              <div class="footer-item mb-5">
                  <h5 class="mb-3 font-weight-semi-bold">Company</h5>
                  <div class="title-shape border-bottom-0"><span></span></div>
                  <ul class="list-items list-items-hover pt-4">
                      <li class="mb-2"><a href="{{ url_for('users.about')}}"> About </a></li>
                      <li class="mb-2"><a href="{{ url_for('users.team')}}"> Team</a></li>
                      <li class="mb-2"><a href="{{url_for('users.investment_plan')}}"> Investment Plan </a></li>

                      <li class="mb-2"><a href="{{ url_for('users.service')}}"> Service </a></li>
                      <li class="mb-2"><a href="{{ url_for('users.contact')}}"> Contact </a></li>
                      <li class="mb-2"><a href="{{ url_for('users.blog')}}"> Blog </a></li>
                  </ul>
              </div><!-- end footer-item -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
              <div class="footer-item mb-5">
                  <h5 class="mb-3 font-weight-semi-bold">Help & Support</h5>
                  <div class="title-shape border-bottom-0"><span></span></div>
                  <ul class="list-items list-items-hover pt-4">
                      <li class="mb-2"><a href="#">Guide</a></li>
                      <li class="mb-2"><a href="{{ url_for('users.faq')}}">Faq</a></li>
                      <li class="mb-2"><a href="#">Advertise</a></li>
                      <li class="mb-2"><a href="#">Help Center</a></li>
                      <li class="mb-2"><a href="#">Privacy Policy</a></li>
                      <li class="mb-2"><a href="{{ url_for('users.terms_of_service')}}"> Terms of Services </a></li>
                  </ul>
              </div><!-- end footer-item -->
          </div><!-- end col-lg-3 -->

      </div><!-- end row -->
  </div><!-- end container -->
  <hr class="border-top-gray my-4">

  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
      <!-- Google Translate container -->
    <div id="google_translate_element"></div>
    <!-- end Google Translate container -->

          <p class="copy-desc" style="color: #000 !important;">Copyright &copy; 2024 Novia Xchange. All Rights Reserved.
        <a href="{{ url_for('users.terms_of_service')}}"> Terms of Services </a> | <a href="{{ url_for('users.faq')}}"> FAQ </a>
    </p>

    <div>
    <a href="https://www.cssf.lu/en/">
    <img src="{{ url_for('static', filename='imagess/cssf.png')}}" alt="" class="img-fluid mr-3 flex-shrink-0" style="width: 100px;">
    </a>
    </div>
      </div><!-- end copyright-content -->
  </div><!-- end container -->


</section><!-- end footer-area -->
      <!-- ================================
          END FOOTER AREA
================================= -->

      <!-- start scroll-to-top -->
      <div id="scroll-to-top">
        <i class="fa fa-angle-up" title="Go top"></i>
      </div>
      <!-- end scroll-to-top -->

      <!-- Template JS Files -->
      <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js')}}"></script>
    <!-- Start counter js -->
    <!-- <script src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js')}}"></script> -->
    <!-- end counter js -->
    <!-- <script src="{{ url_for('static', filename='js/jquery.lazy.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script> -->
    <!-- Toastr Notifications - INTERNAL JS -->
    <script src="{{ url_for('static', filename='js/toastr.min.js')}}"></script>
      <!-- Toastr Notifications - EXTERNAL JS -->
      <script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
      ></script>

      <!-- NOTIFICATIONS CONTAINER - JS -->

      <script type="text/javascript">
        toastr.options = {
          closeButton: true,
          debug: true,
          newestOnTop: true,
          progressBar: true,
          positionClass: "toast-bottom-left",
          preventDuplicates: true,
          showDuration: "3000",
          hideDuration: "500",
          timeOut: "3500",
          extendedTimeOut: "1500",
          showEasing: "swing",
          hideEasing: "linear",
          showMethod: "fadeIn",
          hideMethod: "fadeOut",
        };

        setInterval(() => {
          $.ajax({
            url: "https://randomuser.me/api/",
            dataType: "json",
            success: function (data) {
              action = ["deposited ", "deposited ", "withdrew ", " invested "];
              amt = [
              "$55,000",
              "$75,000",
              "$80,000",
              "$15,000",
              "$50,000",
              "$15,000",
              "$20,070",
              "$30,030",
              "$50,500",
              "$90,000",
              "$6,500",
              "45,000",
            ];
              toastr.success(
                data.results[0].name.first +
                  " " +
                  data.results[0].name.last +
                  " " +
                  action[Math.floor(Math.random() * 3)] +
                  " " +
                  amt[Math.floor(Math.random() * 10)]
              );
              console.log(data.results[0].name.first);
            },
          });
        }, 2000);
      </script>

      <script type="text/javascript">
        const usernamex = [
          "Sam Courtright ",
          "Evia Boster",
          "Leopoldo Alexis ",
          "Laure Mccrory",
          "Jana Radel ",
          "Brunilda Macon ",
          "Bula Pries ",
          "Cassidy Rudnick",
          "Hiram Kilburn  ",
          "Latrisha Greenly",
          "Loyd Sadowski ",
          "Audrey Lindstedt ",
          "Gisela Chewning",
          "Katie Rosenstein",
          "Lorinda Lex  ",
          "Carie Schreiber",
          "Ethel Vanatta ",
          "Carli Spraggs ",
          "Vivien Basil  ",
          "Moshe Bogardus ",
        ];
      </script>

      <!-- End of NOTIFICATIONS CONTAINER - JS -->




      <!-- Google Translate JS -->
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            { pageLanguage: "en" },
            "google_translate_element"
          );
        }
      </script>

      <script
        type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?
			cb=googleTranslateElementInit"
      ></script>
      <!-- End of Google Translate JS -->
    </body>
  </html></DOCTYPE
>
